<!DOCTYPE html>
<html>
<head >
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>


  <script src="lib/webcomponentsjs/webcomponents.min.js"></script>
  <!--<script src="lib/angular/angular.min.js"></script>-->
  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <link rel="import" href="lib/core-toolbar/core-toolbar.html">
  <link rel="import" href="lib/core-toolbar/core-toolbar.html">
  <link rel="import" href="lib/core-header-panel/core-header-panel.html">
  <link rel="import" href="lib/core-icons/core-icons.html">
  <link rel="import" href="lib/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="lib/core-header-panel/core-header-panel.html">
  <link rel="import" href="lib/core-drawer-panel/core-drawer-panel.html">
  <link rel="import" href="lib/core-scaffold/core-scaffold.html">
  <link rel="import" href="lib/core-animated-pages/core-animated-pages.html">
  <link rel="import" href="lib/core-animated-pages/transitions/slide-from-right.html">
  <link rel="import" href="lib/core-menu/core-menu.html">
  <link rel="import" href="lib/paper-fab/paper-fab.html">
  <link rel="import" href="lib/paper-button/paper-button.html">
  <link rel="import" href="lib/paper-input/paper-input.html">
  <link rel="import" href="lib/paper-input/paper-input-decorator.html">



  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <!--<script src="js/services.js"></script>-->
</head>
<body ng-app="MyApp" ng-controller="ListCtrl" fullbleed vertical layout unresolved>

<core-header-panel flex>
  <core-toolbar id="mainheader">
    <paper-icon-button id="navicon"
                       icon="arrow-back" ng-click="home()"></paper-icon-button>
    <span flex>Title</span>
    <paper-icon-button id="searchbutton"
                       icon="search"></paper-icon-button>
  </core-toolbar>


  <div>
    <core-animated-pages transitions="slide-from-right" id="core-pages">
      <section id="user_list">
        <ion-list>
          <ion-item ng-repeat="(index, user) in users" item="user" can-swipe="true">
            <div id="useritem">
              <div class="inner-item">
                <h2 style="font-weight: bold">{{user.name+' '+user.lastname}}</h2>
              </div>

              <div horizontal layout wrap>
                <h3 class="inner-item">phone number : {{user.phone}}</h3>

                <h3 class="inner-item"> passport number : {{user.pasport}}</h3>
              </div>

            </div>
            <ion-option-button class="button-positive" ng-click="openUserEditPage(index)">Edit</ion-option-button>
            <ion-option-button class="button-assertive" ng-click="users.splice($index, 1)">Delete</ion-option-button>
          </ion-item>
        </ion-list>

      </section>
      <section >
        <div id="page2">
          <form>
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" ng-model="user.name" placeholder="username">
            </div>
            <div class="form-group">
              <label>Lastname</label>
              <input type="text" class="form-control"  ng-model="user.lastname" placeholder="lastname">
            </div>
            <div class="form-group">
              <label>Phone</label>
              <input type="text" class="form-control" ng-model="user.phone" placeholder="phone">
            </div>
            <div class="form-group">
              <label>Paspport</label>
              <input type="text" class="form-control" ng-model="user.pasport" placeholder="passport">
            </div>

          </form>
          <table ng-show="user.account" class="table table-condensed">
            <tr>
              <td></td>
              </td>
              <td>№</td>
              <td>Acaunt id</td>
              <td> value</td>
              <td> 3%</td>
            </tr>
            <tr ng-repeat="(index,account) in user.account">
              <td>
                <paper-icon-button ng-click="user.account.splice($index, 1)" icon="delete">DELETE</paper-icon-button>
              </td>
              <td>{{index}}</td>
              <td><input type="number" class="form-control" ng-model="account.id" placeholder="id"></td>
              <td><input type="number" class="form-control" ng-model="account.sum" placeholder="sum"></td>
              <td>{{account.sum*0.03 | number:4}}</td>

            </tr>
            <tr ng-show="user.account.length>0">
              <td></td>
              <td>SUMM</td>
              <td></td>
              <td> {{getSum()}}</td>
              <td>{{getSum()*0.03 | number:4}}</td>
            </tr>

          </table>
          <paper-button ng-click="saveData()" class="colored">SAVE</paper-button>
        </div>
      </section>
    </core-animated-pages>
  </div>
  <div>
    <paper-fab id="paper_fab" icon="add" ng-click="add()" style="position: absolute;bottom: 20px;right: 20px"></paper-fab>
  </div>
</core-header-panel>

</body>
</html>
