/* Empty. Add your own CSS if you like */
/*paper-fab {*/
    /*position: absolute;*/
    /*right: 20px;*/
    /*bottom: 20px;*/
/*}*/
#user_list{
    padding: 0px;
}
#useritem{

}
#page2{
    margin: 1%;
}

paper-button.colored {
    color: #4285f4;
}

#mainheader {
    background-color: #00b3ee;
}

.inner-item {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;

}